*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    height: 100%;
    width: 100%;
}

#car1{
    position: relative;
   height: 200px;
    width: 200px;
    background-color: rgb(31, 29, 29);
}

#car2{
    position: absolute;
    left: 80%;
    width: 20px;
    height: 20px;
    background-color: rgb(18, 204, 58);
}
