*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html, 
body{
    height: 100%;
    width: 100%;
} */

/* #car1{
    position: relative;
   height: 200px;
    width: 200px;
    background-color: rgb(31, 29, 29);
}

#car2{
    position: absolute;
    right: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(18, 204, 58);
} */

h1{
    color: white;
}

#page1{
    height: 2000px;
    width: 100%;
    background-color: #222;
}

#sticky{
    width: 300px;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: red;
}

#page2{
        height: 2000px;
    width: 100%;
    background-color: #555;
}

#fixed{
    width: 150px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: red;
}